#puzzle p {
	margin-bottom: 50px;
}

.piece {
	width: 90px;
	height: 90px;
	display: inline-block;
	background-color: #B8B8B8;
	color: #000;
	.top {
		height: 30px;
		text-align: center;
	}
	.middle {
		height: 30px;
		.left {
			padding-left: 3px;
			width: 40px;
			display: inline-block;
			text-align: left;
			padding-top: 5px;
		}
		.right {
			width: 40px;
			display: inline-block;
			text-align: right;
			padding-top: 5px;
		}
	}
	.bottom {
		height: 30px;
		position: relative;
		.bottom-content {
			width: 90px;
			position: absolute;
			bottom: 0;
			text-align: center;
		}
	}
}